In [1]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

In [14]:
# Folder path
path = r'/Users/shriya/Documents/Shriya-main/Data-Analyst/carrear_foundry/Instacart Basket Analysis'

In [15]:
# Import order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02-Data', 'OriginalData', 'order_products__prior.csv'), index_col = False)

In [16]:
# Import orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02-Data', 'OriginalData', 'orders.csv'), index_col = False)

In [17]:
# Check output for df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
# Check output for df_ords
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [19]:
# Check dataframe size
df_ords_prior.shape

(32434489, 4)

In [20]:
# Check dataframe size
df_ords.shape

(3421083, 7)

In [21]:
# Merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [22]:
# Check output for merged dataframes
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [23]:
# Check value counts for '_merge' column
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [24]:
# Export df_merged_large as .pkl
df_merged_large.to_pickle(os.path.join(path, '02-Data', 'OriginalData', 'orders_products_combined.pkl'))